<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
		<meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
		<title>Hello_Rad</title>
	</head>
	<body>
		<h1>Hello World!</h1>
		We are using Node.js <span id="node-version"></span>,
		Chromium <span id="chrome-version"></span>,
		and Electron <span id="electron-version"></span>.
		
		<br>
		
		Title: <input id="title"/>
		<button id="btn" type="button" >Set</button>
		
		<br>
		
		<button type="button" id="openFileBtn">파일 가져오기</button>
		File path : <strong id="showFilePath"></strong>
		<script src="./../js/component/renderer.js"></script>
	</body>
</html>