<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
		<meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
		<link rel="stylesheet" type="text/css" href="./../css/opening.css">
		<title>Hello_Rad</title>
	</head>
	<body>
		<main id="container">
			<button type="button" id="testBtn"></button>
			<div class="loding_bar_wrapper">
				<div class="status_wrapper">
					<span class="status_text">
						현재 상태값 : ㅁㅁㅁㅁ
					</span>
				</div>
				<div class="loding_bar">
					<div class="progress"></div>
				</div>
			</div>
		</main>
		<script src="./../js/component/renderer.js"></script>
	</body>
</html>