<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
		<meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
		<link rel="stylesheet" type="text/css" href="./../css/opening.css">
		<title>Hello RAD</title>
	</head>
	<body>
		<main id="container">
			<div class="loding_bar_wrapper">
				<div class="status_wrapper">
					<span class="status_text">파일 스캐닝 대기 중</span>
				</div>
				<div class="loding_bar">
					<div class="progress"></div>
				</div>
			</div>
		</main>
		<script src="./../js/renderer/openingRenderer.js"></script>
	</body>
</html>